<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
    Email: <%= f.text_field :email %>
    Username: <%= f.text_field :username %>
    Password: <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>