<h1>New User Form</h1>
<% if false %>
    <form action="/users" method="post" accept-charset="UTF-8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="email">Email:</label>
        <input type="text" name="user[email]" id="email">
        <label for="username">Username:</label>
        <input type="text" name="user[username]" id="username">
        <label for="password">Password:</label>
        <input type="password" name="user[password]" id="password">
        <input type="submit" value="Submit">
    </form>
<% end %>

<% if false %>
    <%= form_tag('/users', method: :post) do %>
        <%= label_tag(:email, "Email:") %>
        <%= text_field_tag(:email) %>
        <%= label_tag(:username, "Username:") %>
        <%= text_field_tag(:username) %>
        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>
        <%= submit_tag("Submit") %>
    <% end %>
<% end %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
    Email: <%= f.text_field :email %>
    Username: <%= f.text_field :username %>
    Password: <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>